<!DOCTYPE HTML>
<html ng-app="DS">
	<head>
		<title>DAOSprout</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Seed Funding Token-Curated List Regenerative Community" />
		<meta name="keywords" content="DAO Decentralized Autonomous Organization Seed Funding Token-Curated List Regenerative Community" />
        <meta name="google-site-verification" content="DDEmV859QFjsSFZH6lLy7Z8AZsCg-oXmyg03GErTyFU" />
        <link rel="icon" type="image/png" href="images/daosprout-icon.png" />
        <link rel="shortcut icon" href="images/daosprout-icon.png" />
		<link href="css/font/fonts.googleapis.css" rel="stylesheet" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/config.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="js/app.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<base href="/">
	</head>
	<body ng-controller="bodyController" ng-class="selectClass()">

		<!-- Header Wrapper -->
			<div id="header-wrapper" class="wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Header -->
								<div id="header">
									
									<!-- Logo -->
									<div id="logo" ng-show="isHome()">
										<h1>DAOSprout</h1>
										<span class="byline">Seed Funding | Token-Curated List | Regenerative Community</span>
										<!--<img width="10%" src="images/daosprout-icon.png"/>-->
									</div>
									<!-- /Logo -->
									
									<!-- Nav -->
									<nav id="nav">
										<ul>
											<li><a href="/">Home</a></li>
											<li><a href="/registry">Registry</a></li>
											<!--<li><a href="/lists">Lists</a></li>-->
											<!--<li><a href="/sprouts">Sprouts</a></li>-->
											<!--<li>-->
												<!--<a href="/home#solutions">Solutions</a>-->
												<!--<ul>-->
													<!--<li><a href="/v4d">Governance</a></li>-->
													<!--<li><a href="/home#solutions">Social</a></li>-->
													<!--<li><a href="/home#solutions">Gifting</a></li>-->
													<!--<li><a href="/home#solutions">Health</a></li>-->
													<!--<li><a href="/home#solutions">Market</a></li>-->
													<!--<li><a href="/home#solutions">Escrow</a></li>-->
												<!--</ul>-->
											<!--</li>-->
											<!--<li><a href="/docs/sc-wp.pdf" target="_blank">Whitepaper</a></li>-->
										</ul>
									</nav>
									<!-- /Nav -->

								</div>
							<!-- /Header -->

						</div>
					</div>
				</div>
			</div>
		<!-- /Header Wrapper -->

		<div ng-view autoscroll="true"></div>

		<!-- Footer -->
		<div ng-controller="registerController" id="footer-wrapper" class="wrapper">
			<div id="footer" class="title">Register</div>
			<div class="container">
				<header class="style1">
					<!--<h2>Register</h2>-->
					<p>
						Register your DAO below.
					</p>
				</header>
				<hr />
				<div id="register" class="row 150%">
					<div class="6u 12u(mobile)">
						<!-- Register Form -->
						<section>
							<form>
								<div class="row 50%">
									<div class="12u">
										<input type="text" ng-model="reg.name" placeholder="DAO Name" />
									</div>
								</div>
								<div class="row 50%">
									<div class="12u">
										<input type="text" ng-model="reg.address" placeholder="DAO Ethereum Address" />
									</div>
								</div>
								<div class="row 50%">
									<div class="12u">
										<input type="url" ng-model="reg.siteURL" placeholder="Site URL" />
									</div>
								</div>
								<div class="row 50%">
									<div class="12u">
										<input type="url" ng-model="reg.whitepaperURL" placeholder="Whitepaper URL" />
									</div>
								</div>
								<div class="row 50%">
									<div class="12u">
										<input type="url" ng-model="reg.sourcecodeURL" placeholder="Sourcecode URL" />
									</div>
								</div>
								<div class="row 50%">
									<div class="12u">
										<input type="url" ng-model="reg.icoURL" placeholder="ICO URL" />
									</div>
								</div>
								<div class="row 50%">
									<div class="12u">
										<textarea ng-model="reg.message" placeholder="Message" rows="4"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" class="style1" value="Send" ng-click="register(reg);" /></li>
											<li><input type="button" class="style2" value="Reset" ng-click="reset();" /></li>
										</ul>
									</div>
								</div>
								<div class="row 50%">
									<div class="12u">
										<div style="color: #485286" ng-hide="reg.tx===''">Transaction: {{reg.tx}}</div>
									</div>
								</div>
								<div class="row 50%">
									<div class="12u">
										<div style="color: #860d1e" ng-hide="reg.error===''">{{reg.error}}</div>
									</div>
								</div>
							</form>
							<!--<pre>reg = {{reg | json}}</pre>-->
						</section>

					</div>
					<div class="6u 12u(mobile)">

						 <!-- Contact -->
						<section class="feature-list small">
							<div class="row">
								<div class="6u 12u(mobile)">
									<section>
										<h3 class="icon fa-home">Mailing Address</h3>
										<p>
											DAOSprout<br />
											1234 Somewhere Rd<br />
											SomeCity, Zug, Switzerland 00000-0000
										</p>
									</section>
								</div>
								<div class="6u 12u(mobile)">
									<section>
										<h3 class="icon fa-comment">Social</h3>
										<p>
											<a href="#">linkedin.com/in/daosprout</a><br />
											<a href="#">daosprout.onion</a><br />
											<a href="#">daosprout.i2p</a>
										</p>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="6u 12u(mobile)">
									<section>
										<h3 class="icon fa-envelope">Email</h3>
										<p>
											<a href="#">info@daosprout.io</a>
											<a href="#">info@daosprout.i2p</a>
										</p>
									</section>
								</div>
								<div class="6u 12u(mobile)">
									<section>
										<h3 class="icon fa-phone">Phone</h3>
										<p>
											(000) 000-0000
										</p>
									</section>
								</div>
							</div>
						</section>

					</div>
				</div>
				<hr />
			</div>
			<div id="copyright">
				<ul>
					<li>&copy; DAOSprout</li>
					<li>HTML5 Responsive Template Design by <a target="_blank" href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</div>

	</body>
</html>