<!-- Main Wrapper -->
<div class="wrapper wrapper-style1">
	<div class="title">Registration Process</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<header class="style1">
											<!--<h2>Pre-requisites</h2>-->
											<span class="byline">
												This dapp uses <a target="_blank" href="https://metamask.io/"><img width="10%" src="images/download-metamask.png"/></a>.<br/>
												Upon logging into Meta-Mask, your accounts will be available to the dapp. <br/>
												The account you have active at any given moment will be used by the dapp.</span>
											<br class="mobile-hide" />
										</header>
										<!--<p>-->
											<!---->
										<!--</p>-->
									</article>
									<div>
										<div class="row">
											<div class="4u">
												<section class="is is-triple-one">
													<header>
														<h2>#1 - Purchase</h2>
														<!--<p class="byline">Away From Majority Rule Democracy</p>-->
													</header>
													<p>Purchase DST tokens with Ether.</p>
													<!--<a href="#" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-two">
													<header>
														<h2>#2 - Verify</h2>
														<!--<p class="byline">We are all universal beings</p>-->
													</header>
													<p>Verify multiple objective data points and receive tokens for proof of work. Profile of the project is generated.</p>
													<!--<a href="#" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-three">
													<header>
														<h2>#3 - Register</h2>
														<!--<p class="byline">No Support for Initiation of Force or Coercion</p>-->
													</header>
													<p>After an initial comment period, the project is registered and community members can rate it on its more subjective merits.</p>
													<!--<a href="#" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
									</div>
								</div>
								</div>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->