	<!-- Intro Wrapper -->
			<div id="intro-wrapper" class="wrapper wrapper-style1">
				<div class="title">AI Assistance for Humanity</div>
				<div class="container">
					<div class="row">
						<div class="12u">

							<!-- Intro -->
								<section id="intro">
									<p class="style2">Decentralized Intelligence Assistance</p>
									<p class="style1">Most businesses (e.g. Facebook, Google, Microsoft, the banking
										industry) track, persist, and use our behavior for their profit.</p>
									<p class="style1">Artificial Intelligence (AI) is dramatically enhancing our
										experiences resulting in profits windfalls to investors at the cost of many
										low skilled jobs (~80% of the job market).</p>
									<p class="style1">Blockchain based applications and cryptocurrencies like Bitcoin
										are helping to wrestle some control from these centralized organizations
										although they are largely used on servers and distributed ledgers are still
										logically centralized.</p>
									<p class="style1">Smart phones, our primary means of global communication and
										collaboration, are weak in maintaining our anonymity and privacy - critical
										to ensuring individual freedom.</p>
									<p class="style1">What's needed are decentralized applications that run purely on
										mobile phones without using servers of any kind and share only what the owner
										specifically allows.</p>
									<p class="style1">
										Synaptic Celerity&#8482; is building a secure open-source decentralized AI
										peer-to-peer mobile application platform with end-to-end encryption for
										creating easy to use secure decentralized peer-to-peer smart mobile apps
										requiring no server connections that can be used around the world by any person
										for personalized AI while looking to protect their communications and personal
										data from unjust intrusion, interception and monitoring yet isolate bad actors
										from using the network.
									</p>
									<p class="style1"><br class="mobile-hide" /></p>
									<ul class="actions">
										<li><a href="home#platform" class="button button-style3 button-big">Platform</a></li>
									</ul>
								</section>
							<!-- /Intro -->
						</div>
					</div>
				</div>
			</div>
		<!-- /Intro Wrapper -->

		<!-- Main Wrapper -->
			<div class="wrapper wrapper-style2">
				<div id="platform" class="title">Platform</div>
				<div class="container">
					<div class="row">
						<div class="12u">

							 <!--Main-->
								<div id="main">

									 <!--Image-->
										<!--<a class="image image-featured">-->
											<!--<img height="200" src="images/blackpainting.jpg" alt="" />-->
										<!--</a>-->
									 <!--/Image-->

									 <!--Features -->
										<section id="service">
											<header class="style1">
												<h2>Mobile Application Platform</h2>
												<p class="byline">
													Building a real-time decentralized personal AI mobile application platform
													is quite tricky. Today mobile applications largely talk with servers
													(e.g. Facebook, Instagram, Twitter) to store and retrieve data. Persistence
													and processing can be used on mobile phones but phones do not have the
													capacity of servers therefore they need to share resources while not
													having the addressability as servers.
												</p>
												<p class="byline">
													This is a complex endeavor but needed to reduce dependency on centralized
													parties, provide transparency where needed, yet ensure personal privacy.
													To begin something complex, we must build a platform from which future
													functionality can depend.
												</p>
												<p class="byline">
													Synaptic Celerity's platform provides mobile application infrastructure
													to build on but we do it a little differently than others such as Ethereum.
													We use our Foundation's Development team to develop the code with partnered entities to ensure
													high quality implementations vs. letting others post code to the platform.
												</p>
												<p class="byline">
													The following features are provided or currently in development:
												</p>
											</header>
											<div class="feature-list">
												<div>
                                                    <div class="row">
														<div class="6u">
															<section>
																<h3 class="fa fa-leaf"><a href="conscious">Conscious</a></h3>
																<p>
																	Directed Acyclic Graphs (DAG) + Rete + Neuro-evolution - a form of
																	machine learning that uses evolutionary algorithms to train artificial neural networks.
																	This is the nervous system of the platform and its primary service.
																	It's expected to be driven long-term towards an AGI and ASI.
																</p>
															</section>
														</div>
														<div class="6u">
															<section>
																<h3 class="fa fa-cogs"><a href="autocontracts">Contracts</a></h3>
																<p>
																	Think Ethereum turing-complete platform on a mobile using OpenDocuments for the contract language
																	and a Rete rules engine for execution. This supports using the DIA service to truly make contracts 'smart'.
																</p>
															</section>
														</div>
                                                    </div>
													<div class="row">
														<div class="6u">
															<section>
																<h3 class="fa fa-briefcase"><a href="infovault">Info Vault</a></h3>
																<p>
																	The platform allows for the user to grant access control to their
																	personal information on their mobile if desired. Access can be revoked
																	when its no longer desired for them to have it. Applications no longer need to know
																	everything about you. This will end widespread data breaches.
																</p>
															</section>
														</div>
														<div class="6u">
															<section>
																<h3 class="fa fa-briefcase"><a href="wallet">Token Wallet</a></h3>
																<p>
																	Maintaining tokens secure on your mobile.
																</p>
															</section>
														</div>
													</div>
													<div class="row">
														<div class="6u">
															<section>
																<h3 class="fa fa-eye"><a href="lid">Life IDentifier</a>&#8482;</h3>
																<p>
																	Pluggable, decentralized, people-controlled universal ID, called
																	LID or Life IDentifier, that is unique to every life on the planet.
																	Its primary components are:<br/>
																	<strong>Crypto Authentication (CA)</strong><br/>
																	<strong>Reputation Based Access Control (RepBAC)</strong><br/>
																	<strong>Circles of Influence</strong>
																</p>
															</section>
														</div>
														<div class="6u">
															<section>
																<h3 class="fa fa-link"><a href="recall">Recall&#8482;</a></h3>
																<p>
																	Provides the working-, short-, and long-term memory for the DIA and other services
																	requiring access to memory using caching, graphs, and a highly available/highly
																	partition tolerant/tunable consistency persistence.
																</p>
															</section>
														</div>
													</div>
													<div class="row">
														<div class="6u">
															<section>
																<h3 class="fa fa-bitcoin"><a href="amino">Amino&#8482; - Utility Token</a></h3>
																<p>
																	Aminos are unlimited tokens used in the platform as a method
																	to manage resources (network, cpu, storage) to support it.
																</p>
															</section>
														</div>
														<div class="6u">
															<section>
																<h3 class="fa fa-bitcoin"><a href="syn">Syn&#8482; - Foundation Token</a></h3>
																<p>
																	Limited tokens used in the platform as a method
																	to determine transaction fee distribution.
																</p>
															</section>
														</div>
													</div>
													<div class="row">
														<div class="6u">
															<section>
																<h3 class="fa fa-bitcoin"><a href="ubi">UBI</a></h3>
																<p>
																	Universal Basic Income - Amino tokens for participating in the system
																	to prevent double spend.
																</p>
															</section>
														</div>
														<div class="6u">
															<section>
																<h3 class="fa fa-phone"><a href="sensors">Sensors</a></h3>
																<p>
																	Mobile-to-Mobile (M2M), End-to-End Encrypted, Double Ratchet Key Management, Mesh Network Capable, Anonymous Network, with Bad Actor Isolation.
																</p>
															</section>
														</div>
													</div>
													<div class="row">
														<div class="6u">
															<section>
																<h3 class="fa fa-book"><a href="content">Content</a></h3>
																<p>
																	Full-stack synched decentralized javascript web applications
																	on android for decentralized content distribution including static resources.
																</p>
															</section>
														</div>
														<div class="6u">
															<section>
																<h3 class="fa fa-chain"><a href="consensus">Consensus</a></h3>
																<p>
																	Permissioned (LID) blockchain on Android. Prevent double spend.
																	Anyone can get on but are severely restricted in what they can do until they create their LID.
																	As their reputation grows, their access will too.
																	Their reputation falls, so does their access.
																</p>
															</section>
														</div>
													</div>
												</div>
											</div>
											<ul class="actions actions-centered">
												<li><a href="home#solutions" class="button button-style1 button-big">Solutions</a></li>
											</ul>
										</section>
									 <!--/Features -->

								</div>
							 <!--/Main-->

						</div>
					</div>
				</div>
			</div>
		<!-- /Main Wrapper -->

        <!-- Solutions Wrapper -->
        <div class="wrapper wrapper-style3">
            <div id="solutions" class="title">Solutions</div>
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <div id="solution">
                            <div>
                                <div class="row">
									<div class="6u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Social AI Assistance</h2>
											<p>Get auto-introductions, relationship enhancement recommendations,
												and need for gifts determinations from the decentralized AI engine.
												You control and monetize your personal information as desired.
												No worrying about government and corporate overreach,
												large-scale data breaches, and identity theft. Friends can be invited from
												popular centralized web sites.</p>
											<ul class="actions">
												<li><a class="button button-style2">In Progress</a></li>
												<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											</ul>
										</section>
									</div>
									<div class="6u">
										<section class="highlight highlight-two">
											<!--<a href="v4d" class="image image-left"><img src="images/neurons-firing-8.jpeg" alt="" /></a>-->
											<h3><a href="v4d">A Voluntary Direct Democracy (V4d)</a></h3>
											<p>
												<strong>Voluntary</strong>: Who likes getting coerced or forced into something they don't wish to participate in?<br/>
												<strong>Decentralized</strong>: Democracy works best with small groups as when it was first designed.<br/>
												<strong>Delegative</strong>: We can not be experts in everything nor do we have the time to participate in every decision yet we have the right to attempt it.<br/>
												<strong>Direct</strong>: No one person can represent another on every issue.<br/>
												<strong>Democracy</strong>: Governance for the people by the people.
											</p>
											<ul class="actions">
												<li><a href="v4d" class="button button-style2">Conceptualizing</a></li>
												<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											</ul>
										</section>
									</div>
                                </div>
								<div class="row">
									<div class="6u">
										<section class="highlight highlight-one">
											<!--<a class="image image-full"><img src="images/neurons-firing-9.jpeg" alt="" /></a>-->
											<h2>Gifting</a></h2>
											<p>Help those who need it most.</p>
											<!--<ul class="actions">-->
												<!--<li><a class="button button-style2">Conceptualizing</a></li>-->
											<!--</ul>-->
										</section>
									</div>
									<div class="6u">
										<section class="highlight highlight-two">
											<!--<a class="image image-full"><img src="images/neurons-firing-6.png" alt="" /></a>-->
											<h2>Health & Medical Personalized AI Assistance</a></h2>
											<p>Maximum personalization of health and wellness for all individuals while ensuring privacy.</p>
											<!--<ul class="actions">-->
												<!--<li><a class="button button-style2">Partnering</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
								<div class="row">
									<div class="6u">
										<section class="highlight highlight-one">
											<!--<a class="image image-full"><img src="images/neurons-firing-5.jpg" alt="" /></a>-->
											<h2>Market</a></h2>
											<p>The Agora - On Android.</p>
											<!--<ul class="actions">-->
												<!--<li><a class="button button-style2">Conceptualizing</a></li>-->
											<!--</ul>-->
										</section>
									</div>
									<div class="6u">
										<section class="highlight highlight-two">
											<!--<a class="image image-full"><img src="images/neurons-firing-4.jpg" alt="" /></a>-->
											<h2>Escrow</a></h2>
											<p>When a 3rd party is desired.</p>
											<!--<ul class="actions">-->
												<!--<li><a class="button button-style2">Partnering</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
                            </div>
							<ul class="actions actions-centered">
								<li><a href="#consortium" class="button button-style1 button-big">Consortium</a></li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Solutions Wrapper -->

		<!-- Foundation Wrapper -->
		<div class="wrapper wrapper-style2">
			<div id="consortium" class="title">Consortium</div>
			<div class="container">
				<div class="row">
					<div class="12u">

						<!--Main-->
						<div id="price">

							<!--Image-->
							<!--<a class="image image-left">-->
								<!--<img src="images/neurons-firing-7.jpeg" alt="" />-->
							<!--</a>-->
							<!--/Image-->

							<!--Features-->
							<section id="features">
								<header class="style1">
									<h2>Inspiration, Marketing, Development, Governance</h2>
									<p class="byline">
									The following organizations are part of the decentralization consortium for building out a decentralized ecosystem.
									</p>
								</header>
								<div class="feature-list">
									<div>
										<div class="row">
											<div class="12u">
												<section class="highlight highlight-one">
													<a href="http://iamcicada.com" target="_blank" class="image image-left"><img src="images/iamcicada.png" alt="" /></a>
													<h3><a target="_blank" href="http://iamcicada.com">Cicada</a></h3>
													<p>
														Decentralized governance and reputation-based identity.
													</p>
													<!--<ul class="actions">-->
														<!--<li><a href="https://www.dragonsbaneproject.org/" class="button button-style2">Conceptualizing</a></li>-->
														<!--<li><a href="#" class="button button-style1">Learn More</a></li>-->
													<!--</ul>-->
												</section>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<section class="highlight highlight-two">
													<a href="https://www.dragonsbaneproject.org/" target="_blank" class="image image-left"><img src="images/dragonsbane-120pix.png" alt="" /></a>
													<h3><a href="https://www.dragonsbaneproject.org/" target="_blank">Dragonsbane Project</a></h3>
													<p>A decentralized anonymous resource for maximum personalization of health and wellness for all individuals.</p>
													<!--<ul class="actions">-->
														<!--<li><a href="https://www.dragonsbaneproject.org/" class="button button-style2">Conceptualizing</a></li>-->
														<!--<li><a href="#" class="button button-style1">Learn More</a></li>-->
													<!--</ul>-->
												</section>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<section class="highlight highlight-three">
													<a href="http://resolvingarchitecture.com" target="_blank" class="image image-left"><img src="images/ra.png" alt="" /></a>
													<h3><a href="http://resolvingarchitecture.com" target="_blank">Resolving Architecture</a></h3>
													<p>Specializing in scalable real-time decentralized autonomous organization (DAO) software system design
														using mobile decentralized applications (MDApps) where all mobile applications communicate
														with each other directly (Mobile-to-Mobile or M2M) in a mesh network.</p>
													<!--<ul class="actions">-->
													<!--<li><a href="https://www.dragonsbaneproject.org/" class="button button-style2">Conceptualizing</a></li>-->
													<!--<li><a href="#" class="button button-style1">Learn More</a></li>-->
													<!--</ul>-->
												</section>
											</div>
										</div>
									</div>
								</div>
								<ul class="actions actions-centered">
									<li><a href="#contact" class="button button-style1 button-big">Contact</a></li>
								</ul>
							</section>
							<!--/Features-->

						</div>
						<!--/Main-->

					</div>
				</div>
			</div>
		</div>
		<!-- /Pricing Wrapper -->

        <!-- Partners Wrapper -->
        <!--<div class="wrapper wrapper-style3">-->
            <!--<div id="partners" class="title">Partners</div>-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="12u">-->
                        <!--<div id="highlights">-->
                            <!--<div>-->
                                <!--<div class="row">-->
                                    <!--<div class="6u">-->
                                        <!--<section class="highlight highlight-one">-->
                                            <!--<a href="https://www.dragonsbaneproject.org/" class="image image-left"><img src="images/dragonsbane-120pix.png" alt="" /></a>-->
                                            <!--<h3><a href="https://www.dragonsbaneproject.org/">Dragonsbane Project</a></h3>-->
                                            <!--<p>Creating a decentralized anonymous resource for maximum personalization of health and wellness for all individuals.</p>-->
                                            <!--<ul class="actions">-->
                                                <!--<li><a href="https://www.dragonsbaneproject.org/" class="button button-style2">Conceptualizing</a></li>-->
												<!--&lt;!&ndash;<li><a href="#" class="button button-style1">Learn More</a></li>&ndash;&gt;-->
                                            <!--</ul>-->
                                        <!--</section>-->
                                    <!--</div>-->
                                    <!--<div class="6u">-->
                                        <!--<section class="highlight highlight-two">-->
                                            <!--<a class="image image-left"><img src="images/Odyssey-logo.png" alt="" /></a>-->
                                            <!--<h3>Onessus</h3>-->
                                            <!--<p>Escrow on the Blockchain</p>-->
                                            <!--<ul class="actions">-->
                                                <!--<li><a class="button button-style2">Fund Raising</a></li>-->
                                                <!--&lt;!&ndash;<li><a href="#" class="button button-style1">Learn More</a></li>&ndash;&gt;-->
                                            <!--</ul>-->
                                        <!--</section>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
							<!--<ul class="actions actions-centered">-->
								<!--<li><a href="#contact" class="button button-style1 button-big">Contact</a></li>-->
							<!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- /Partners Wrapper -->