<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="title">Curated Lists</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<!--<header class="style1">-->
											<!--<h2>Why?</h2>-->
											<!--<span class="byline">Why?</span>-->
											<!--<br class="mobile-hide" />-->
										<!--</header>-->
										<p>
											Voluntary relationships. Live by the Non-Aggression Principle (NAP). Initiation of force or the threat of it needs
											to be outlawed.
										</p>
									</article>
									<div>
										<div class="row">
											<div class="3u">
												<section class="is is-triple-one">
													<header>
														<h2>Minority Representation</h2>
														<p class="byline">Away From Majority Rule Democracy</p>
													</header>
													<p>Individual minorities have as much power as an individual of the majority.</p>
													<!--<a href="#" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="3u">
												<section class="is is-triple-two">
													<header>
														<h2>Equality in Decision Making</h2>
														<p class="byline">We are all universal beings</p>
													</header>
													<p>Unanimity ensures all are respected.</p>
													<!--<a href="#" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="3u">
												<section class="is is-triple-three">
													<header>
														<h2>The Non-Aggression Principle</h2>
														<p class="byline">No Support for Initiation of Force or Coercion</p>
													</header>
													<p>Unanimity does not support anyone forcing their ideas onto others.</p>
													<!--<a href="#" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="3u">
												<section class="is is-triple-three">
													<header>
														<h2>Constructive Abstention</h2>
														<p class="byline">Non-Blocking</p>
													</header>
													<!--<a href="http://fav.me/d5qdf2o" class="image image-full"><img src="images/direct-democracy.png" alt="" /></a>-->
													<p>A member can abstain in a vote without thereby blocking the success of the vote.</p>
													<!--<a href="#" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
									</div>
								</div>
								</div>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->