<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="title">Registry</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<!--<header class="style1">-->
											<!--<h2>Why?</h2>-->
											<!--<span class="byline">Why?</span>-->
											<!--<br class="mobile-hide" />-->
										<!--</header>-->
										<p>
											List of all registrations and their status.
										</p>
									</article>
									<div>
										<div data-ng-repeat="entry in entries" class="row">
											<div class="12u">
												<section class="is is-triple-one">
													<header>
														<h2><img width="5%" src="../images/circle-green.jpeg"/>&nbsp;{{entry.name}}</h2>
														<p class="byline">
															Status:&nbsp;{{entry.status}}&nbsp;|&nbsp;Rating:&nbsp;{{entry.rating}}&nbsp;|
															<a target="_blank" ng-href="{{entry.siteURL}}">Site</a> |
															<a target="_blank" ng-href="{{explorerURL(entry.address)}}">Contract</a> |
															<a target="_blank" ng-href="{{entry.whitepaperURL}}">Whitepaper</a> |
															<a target="_blank" ng-href="{{entry.sourcecodeURL}}">Code</a> |
															<a target="_blank" ng-href="{{entry.icoURL}}">ICO</a><br/>
														</p>
													</header>
													<p>
														{{entry.message}}
													</p>
													<!--<a href="#" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
									</div>
								</div>
								</div>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->