<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="title">Registry</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<!--<header class="style1">-->
											<!--<h2>Why?</h2>-->
											<!--<span class="byline">Why?</span>-->
											<!--<br class="mobile-hide" />-->
										<!--</header>-->
										<p>
											List of all registrations and their status.
										</p>
									</article>
									<div>
										<div><input type="text" ng-model="searchBox"/><br/><br/></div>
										<div ng-repeat="entry in entries | filter:searchBox:entry.name | orderBy:'entry.name' track by $index" class="row">
											<div class="12u">
												<section class="is is-triple-one">
													<p>
														<img width="1%" src="../images/circle-green.jpeg"/>Name:&nbsp;{{entry.name}}&nbsp;|
														Status:&nbsp;{{entry.status}}&nbsp;|&nbsp;Rating:&nbsp;{{entry.rating}}&nbsp;|
														<a target="_blank" ng-href="{{entry.siteURL}}">Site</a> |
														<a target="_blank" ng-href="{{explorerURL(entry.address)}}">Contract</a> |
														<a target="_blank" ng-href="{{entry.whitepaperURL}}">Whitepaper</a> |
														<a target="_blank" ng-href="{{entry.sourcecodeURL}}">Code</a> |
														<a target="_blank" ng-href="{{entry.icoURL}}">ICO</a> |
														{{entry.message}}
													</p>
												</section>
											</div>
										</div>
									</div>
								</div>
								</div>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->