<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="title">Registry</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<!--<header class="style1">-->
											<!--<h2>Why?</h2>-->
											<!--<span class="byline">Why?</span>-->
											<!--<br class="mobile-hide" />-->
										<!--</header>-->
										<p>
											List of all registrations and their status.
										</p>
									</article>
									<div>
										<div class="row">
											<div class="4u">
												<section class="is is-triple-one">
													<header>
														<h2><img width="5%" src="../images/circle-green.jpeg"/>&nbsp;Dgramz</h2>
														<p class="byline">
															<a target="_blank" href="https://dgramz.io/">Site</a> |
															<a target="_blank" ng-href="{{explorerURL('0xe6f74efb07d41f7223e0e4aa19a449857e128bd4')}}">Contract</a> |
															<a target="_blank" href="https://dgramz.io/docs/sc-dgramz-wp.pdf">Whitepaper</a> |
															<a target="_blank" href="https://github.com/SynapticCelerity/platform">Code</a> |
															<a target="_blank" href="https://dgramz.io/#crowdsales">ICO</a>
														</p>
													</header>
													<p>
														Dgramz Android app uses Synaptic Celerity platform which is
														about 40% completed in support of the Dgramz prototype.
													</p>
													<!--<a href="#" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-two">
													<header>
														<h2><img width="5%" src="../images/circle-orange.jpeg"/>&nbsp;Dgramz</h2>
														<p class="byline">
															<a target="_blank" href="https://dgramz.io/">Site</a> |
															<a target="_blank" ng-href="{{explorerURL('0xe6f74efb07d41f7223e0e4aa19a449857e128bd4')}}">Contract</a> |
															<a target="_blank" href="https://dgramz.io/docs/sc-dgramz-wp.pdf">Whitepaper</a> |
															<a target="_blank" href="https://github.com/SynapticCelerity/platform">Code</a> |
															<a target="_blank" href="https://dgramz.io/#crowdsales">ICO</a>
														</p>
													</header>
													<p>
														Dgramz Android app uses Synaptic Celerity platform which is
														about 40% completed in support of the Dgramz prototype.
													</p>
													<!--<a href="#" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-three">
													<header>
														<h2><img width="5%" src="../images/circle-red.jpeg"/>&nbsp;Dgramz</h2>
														<p class="byline">
															<a target="_blank" href="https://dgramz.io/">Site</a> |
															<a target="_blank" ng-href="{{explorerURL('0xe6f74efb07d41f7223e0e4aa19a449857e128bd4')}}">Contract</a> |
															<a target="_blank" href="https://dgramz.io/docs/sc-dgramz-wp.pdf">Whitepaper</a> |
															<a target="_blank" href="https://github.com/SynapticCelerity/platform">Code</a> |
															<a target="_blank" href="https://dgramz.io/#crowdsales">ICO</a>
														</p>
													</header>
													<p>
														Dgramz Android app uses Synaptic Celerity platform which is
														about 40% completed in support of the Dgramz prototype.
													</p>
													<!--<a href="#" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
									</div>
								</div>
								</div>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->