<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="title">Wallet</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<header class="style1">
											<h2>Token Holder</h2>
											<span class="byline">Keeping Your Tokens Safe</span>
											<br class="mobile-hide" />
										</header>
										<p>
											Maintaining tokens secure on your mobile. Includes reporting on income
											and spending trends. Supports sending tokens to and receiving tokens
											from off-line token vaults.
										</p>
									</article>
									<!--<div>-->
										<!--<div class="row">-->
											<!--<div class="3u">-->
												<!--<section class="is is-triple-one">-->
													<!--<header>-->
														<!--<h2>Voluntaryism</h2>-->
													<!--</header>-->
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Voluntaryism" class="image image-full"><img src="../images/voluntaryism.jpeg" alt="" /></a>-->
													<!--<p>All forms of human association should be voluntary.</p>-->
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												<!--</section>-->
											<!--</div>-->
											<!--<div class="3u">-->
												<!--<section class="is is-triple-two">-->
													<!--<header>-->
														<!--<h2>Decentralization</h2>-->
													<!--</header>-->
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<!--<p>The process of redistributing or dispersing functions, powers, people or things away from a central location or authority.</p>-->
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												<!--</section>-->
											<!--</div>-->
											<!--<div class="3u">-->
												<!--<section class="is is-triple-three">-->
													<!--<header>-->
														<!--<h2>Delegative</h2>-->
													<!--</header>-->
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<!--<p>A form of democratic control whereby people have the option to vest voting power in personally known delegates rather than in unknown representatives.</p>-->
													<!--<a href="delegative" class="button button-style1">More</a>-->
												<!--</section>-->
											<!--</div>-->
											<!--<div class="3u">-->
												<!--<section class="is is-triple-three">-->
													<!--<header>-->
														<!--<h2>Direct</h2>-->
													<!--</header>-->
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Direct_democracy" class="image image-full"><img src="../images/direct-democracy.png" alt="" /></a>-->
													<!--<p>A form of democracy in which people decide (e.g. vote on, form consensus on) policy initiatives directly.</p>-->
													<!--<a href="direct" class="button button-style1">More</a>-->
												<!--</section>-->
											<!--</div>-->
										<!--</div>-->
										<!--<div class="row">-->
											<!--<div class="5u">&nbsp;</div>-->
											<!--<div class="2u">-->
												<!--<section class="is is-post-excerpt">-->
													<!--<a href="democracy" class="button button-style1">Contrast</a>-->
												<!--</section>-->
											<!--</div>-->
											<!--<div class="5u">&nbsp;</div>-->
										<!--</div>-->
									<!--</div>-->
								</div>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->